# 应用名称
APP_NAME=oneQrCode

# 当前环境，用以区分多环境
# development 开发环境 | production 线上环境
APP_ENV=development

# 是否开启调试模式
APP_DEBUG=false

# APP 密钥，务必去创建一个自己的 GUID 作为密钥
# GUID 创建网址：https://www.guidgen.com
APP_KEY=5f90f2f4-7545-4b3e-9b96-4bcbc0343f56

# JWT 密钥，至少需要 512 位的长度
APP_JWT_SECRET=x01jIE9ymYpbVnR2KTzvaMwdPAQ6rg754LtNeGZlHkuOJ8UqSDWihcF3oCfBsXgAS6aN8aZHsxiIgJXlJUxBPy4P6mkB59CSUPJw34pZ3ONHyK7UZfkQJZ6w20vP585pjpf9xVH9cgsSM9ziTE4QYPaHzDmYoOu1v1FGrAU13DcqFsjDiqx8O7Ty6KJSFeA5kqKE7aEKcl3OfkH3d0y9Ger2Z3Y1Bn0nKyGQvF5rm8jXFcLI6c71EpDbqtLb7o7cfks8xPc24osvvQhNRSJSWAL56wSB20uVixWeOXC5nCCQ5MTZQwA41ZIA5B2U2RwPz17GDSZOLLoYvGugJ3SA0FX7AYxsugRDN3LiWdF6yeKFxy96swyxQEXnVranoSE0n1edswVCrm6drzvEkqQMQs1Lc6gX7VakPNopaSQINsVK5Uz0UthTcu8zXLciEMx7Sl0BwX5Wv7G2SG6u7XQG94hmKtnzBUq5kaFt3flMr9paeMM9YivrCD1pSLhqlOXG

# HTTP 服务配置
HTTP_LISTEN_HOST=127.0.0.1      # 地址
HTTP_LISTEN_PORT=8080           # 端口
HTTP_READ_TIMEOUT=5             # 读取包括请求体的整个请求的最大时长
HTTP_READ_HEADER_TIMEOUT=2      # 允许读请求头的最大时长
HTTP_WRITE_TIMEOUT=5            # 写响应允许的最大时长
HTTP_IDLE_TIMEOUT=30            # 当开启了保持活动状态（keep-alive）时允许的最大空闲时间

# 数据库配置
DB_CONNECTION=mysql                 # 数据库类型
DB_HOST=127.0.0.1                   # 数据库地址
DB_PORT=3306                        # 数据库端口
DB_USERNAME=root                    # 数据库账号
DB_PASSWORD=root                    # 数据库密码
DB_DATABASE=db_one_qr_code          # 使用的数据库

# 日志存放目录
LOGGER_PATH=logs

# 验证码样式，具体的配置可以到 https://captcha.mojotv.cn/ 网站 request 提交请求中抓取
# 确定好自己满意的验证码样式后，把 JSON 直接完整复制粘贴过来就可以了
CAPTCHA_STYLE_JSON={"ShowLineOptions":["2","4","8"],"CaptchaType":"string","Id":"","VerifyValue":"duku3m","DriverAudio":{"Length":6,"Language":"zh"},"DriverString":{"Height":60,"Width":230,"ShowLineOptions":14,"NoiseCount":480,"Source":"234568wertyupkjhfdsazxcvnm","Length":6,"Fonts":["Flim-Flam.ttf","DeborahFancyDress.ttf","actionj.ttf","RitaSmith.ttf","chromohv.ttf","ApothecaryFont.ttf"],"BgColor":{"R":0,"G":0,"B":0,"A":0}},"DriverMath":{"Height":60,"Width":240,"ShowLineOptions":14,"NoiseCount":0,"Length":6,"Fonts":["wqy-microhei.ttc"],"BgColor":{"R":0,"G":0,"B":0,"A":0}},"DriverChinese":{"Height":60,"Width":320,"ShowLineOptions":0,"NoiseCount":0,"Source":"设想,你在,处理,消费者,的音,频输,出音,频可,能无,论什,么都,没有,任何,输出,或者,它可,能是,单声道,立体声,或是,环绕立,体声的,,不想要,的值","Length":2,"Fonts":["wqy-microhei.ttc"],"BgColor":{"R":125,"G":125,"B":0,"A":118}},"DriverDigit":{"Height":80,"Width":240,"Length":5,"MaxSkew":0.7,"DotCount":80}}